<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Movie Watch List</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <!-- <link rel="shortcut icon" href="favicon.ico">-->
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <!-- Title  -->
  <div class="main-title">
    <h1>Movie Watch List</h1>
    <h2 class="main-desc">Add a movie to the "To Watch" list and move the movie between each list based on status. Either you watched the movie, your watching it, you dropped it or you want to watch it!</h2>
  </div>

  <!-- Add a Game to List -->
  <div class="add-movie">
    <h2 class="main-desc">Add a Movie (no NSFW images!):</h2>
    <form class="movie-info" action="/movies" method="POST">
      <input type="text" placeholder="title" name="title">
      <input type="text" placeholder="director" name="director">
      <input type="text" placeholder="streaming service" name="stream">
      <input type="text" placeholder="release year" name="releaseYear">
      <input type="text" placeholder="movie promo image" name="image">
      <button type="submit">Submit</button>
    </form>
  </div>
  


  <section>
    <div class="movie-list">
      <h3 class="list-titles">Movies To Watch</h3>
      <ul class="movies">
        <% for(var i=0; i<movies.length; i++) {%>
          <% if (movies[i].toWatch===true) { %>
          <li class="movie">
            <div class="img-cont"><img src="<%= movies[i].coverImg %>" /></div>
            <div class="info-cont">
              <h2 class="title">
                <%= movies[i].title %>
              </h2>
              <span>Director:</span>
              <h4 class="director">
                <%= movies[i].director%>
              </h4>
              <span>Where to Watch:</span>
              <h4 class="stream">
                <%= movies[i].stream%>
              </h4>
              <span>Released:</span>
              <h4 class="releaseYear">
                <%= movies[i].releaseYear %>
              </h4>
            </div>
            <div class="rating-cont">
              <span class="upvote"><i class=" fa fa-solid fa-eye" aria-hidden="true" data-id="<%= movies[i]._id %>"></i> Watching </span>
              <span class="upvote"><i class=" fa fa-solid fa-eye-slash" aria-hidden="true" data-id="<%= movies[i]._id %>"></i> Watched</span>
              <span><i class="fa fa-solid fa-eyedropper" aria-hidden="true" data-id="<%= movies[i]._id %>" ></i> Dropped</span>
              <span><i class="fa fa-solid fa-trash" aria-hidden="true" data-id="<%= movies[i]._id %>" ></i></span>
            </div>
          </li>
          <% } %>
          <% } %>
      </ul>
    </div>
    <div class="movie-list">
      <h3 class="list-titles">Movies I'm Watching</h3>
      <ul class="movies">
        <% for(var i=0; i<movies.length; i++) { %>
          <% if (movies[i].watching===true) { %>
            <li class="movie">
              <div class="img-cont"><img src="<%= movies[i].coverImg %>" /></div>
              <div class="info-cont">
                <h2 class="title">
                  <%= movies[i].title %>
                </h2>
                <span>Director:</span>
                <h4 class="director">
                  <%= movies[i].director%>
                </h4>
                <span>Where to Watch:</span>
                <h4 class="stream">
                  <%= movies[i].stream%>
                </h4>
                <span>Released:</span>
                <h4 class="releaseYear">
                  <%= movies[i].releaseYear %>
                </h4>
              </div>
              <div class="rating-cont">
                <span class="upvote"><i class=" fa fa-solid fa-eye" aria-hidden="true" data-id="<%= movies[i]._id %>"></i> Watching </span>
                <span class="upvote"><i class=" fa fa-solid fa-eye-slash" aria-hidden="true" data-id="<%= movies[i]._id %>"></i> Watched</span>
                <span><i class="fa fa-solid fa-eyedropper" aria-hidden="true" data-id="<%= movies[i]._id %>" ></i> Dropped</span>
                <span><i class="fa fa-solid fa-trash" aria-hidden="true" data-id="<%= movies[i]._id %>" ></i></span>
              </div>
            </li>
            <% } %>
              <% } %>
      </ul>
    </div>
    <div class="movie-list">
      <h3 class="list-titles">Watched Movies</h3>
      <ul class="movies">
        <% for(var i=0; i<movies.length; i++) { %>
          <% if (movies[i].watched===true) { %>
            <li class="movie">
              <div class="img-cont"><img src="<%= movies[i].coverImg %>" /></div>
              <div class="info-cont">
                <h2 class="title">
                  <%= movies[i].title %>
                </h2>
                <span>Director:</span>
                <h4 class="director">
                  <%= movies[i].director%>
                </h4>
                <span>Where to Watch:</span>
                <h4 class="stream">
                  <%= movies[i].stream%>
                </h4>
                <span>Released:</span>
                <h4 class="releaseYear">
                  <%= movies[i].releaseYear %>
                </h4>
              </div>
              <div class="rating-cont">
                <span class="upvote"><i class=" fa fa-solid fa-eye" aria-hidden="true" data-id="<%= movies[i]._id %>"></i> Watching </span>
                <span class="upvote"><i class=" fa fa-solid fa-eye-slash" aria-hidden="true" data-id="<%= movies[i]._id %>"></i> Watched</span>
                <span><i class="fa fa-solid fa-eyedropper" aria-hidden="true" data-id="<%= movies[i]._id %>" ></i> Dropped</span>
                <span><i class="fa fa-solid fa-trash" aria-hidden="true" data-id="<%= movies[i]._id %>" ></i></span>
              </div>
            </li>
            <% } %>
              <% } %>
      </ul>
    </div>
    <div class="movie-list">
      <h3 class="list-titles">Dropped Movies</h3>
      <ul class="movies">
        <% for(var i=0; i<movies.length; i++) { %>
          <% if (movies[i].dropped===true) { %>
            <li class="movie">
              <div class="img-cont"><img src="<%= movies[i].coverImg %>" /></div>
              <div class="info-cont">
                <h2 class="title">
                  <%= movies[i].title %>
                </h2>
                <span>Director:</span>
                <h4 class="director">
                  <%= movies[i].director%>
                </h4>
                <span>Where to Watch:</span>
                <h4 class="stream">
                  <%= movies[i].stream%>
                </h4>
                <span>Released:</span>
                <h4 class="releaseYear">
                  <%= movies[i].releaseYear %>
                </h4>
              </div>
              <div class="rating-cont">
                <span class="upvote"><i class=" fa fa-solid fa-eye" aria-hidden="true" data-id="<%= movies[i]._id %>"></i> Watching </span>
                <span class="upvote"><i class=" fa fa-solid fa-eye-slash" aria-hidden="true" data-id="<%= movies[i]._id %>"></i> Watched</span>
                <span><i class="fa fa-solid fa-eyedropper" aria-hidden="true" data-id="<%= movies[i]._id %>" ></i> Dropped</span>
                <span><i class="fa fa-solid fa-trash" aria-hidden="true" data-id="<%= movies[i]._id %>" ></i></span>
              </div>
            </li>
            <% } %>
              <% } %>
      </ul>
    </div>
  </section>

  <script src="main.js"></script>

</body>

</html>